.directory {
    .secTitle {
        .redText {
            color: var(--primaryColor);
            font-size: var(--smallFontSize);
            font-weight: 500;
            // margin-top: 2rem;
        }
        h2 {
            font-size: var(--h1FontSize);
        }
    }

    .grid {
        justify-content: center;

        .searchField {
            margin-top: 2rem;
            gap: 1rem;

            .inputField {
                background: var(--primaryColorLight);
                padding: 1rem;
                border-radius: 10px;
                gap: 0.5rem;

                input {
                    background: transparent;
                    border: none;
                    outline: none;
                    width: 100%;
                }

                .icon {
                    color: var(--blackColor);
                }

                .inputSelect{
                    background: var(--primaryColorLight);
                }
            }
        }
        .table-latitude {
            table {
                border-collapse: collapse;
                margin: 0;
                width: 100%;

                thead {
                    background: var(--primaryColorLight);
                    th {
                        text-transform: uppercase;
                        text-align: center;
                        padding: 10px;
                        color: var(--blackColor);
                    }
                }
                tbody {
                    tr {
                        border-bottom: 1px solid #f1f1f1;
                        color: var(--blackColor);
                        td {
                            text-align: center;
                            padding: 5px;
                            border: 1px solid #f1f1f1;

                            .icon {
                                color: var(--primaryColor);
                                font-size: var(--h2FontSize);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 880px) {
    .directory {
        .grid {
            .searchField {
                grid-template-columns: repeat(1, 1fr);

                .inputField {
                    width: 100%;
                }
            }

            .table-latitude {
                table {
                    text-decoration: none;
                    border: 3px solid var(--primaryColorLight);

                    thead {
                        tr {
                            display: none;
                        }
                    }

                    tr {
                        display: block;
                    }
                    tr,
                    td {
                        padding: 0.5em;
                    }

                    tbody {
                        tr {
                            border-bottom: 3px solid var(--primaryColorLight);

                            td {
                                display: block;
                                text-align: right;
                                font-size: 1em;
                            }
                        }

                        td::before {
                            content: attr(title) ": ";
                            float: left;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 520px) {
    .directory {
        .grid {
            .searchField {
                grid-template-columns: repeat(1, 1fr);

                .inputField {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 640px) {
    .directory {
        .grid {
            .searchField {
                grid-template-columns: repeat(1, 1fr);

                .inputField {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 880px) {
    .directory {
        .grid {
            .searchField {
                grid-template-columns: repeat(2, 1fr);

                .inputField {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 1014px) {
    .directory {
        .grid {
            .searchField {
                grid-template-columns: repeat(2, 1fr);

                .inputField {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 1148px) {
}
