@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap");
.directory .secTitle .redText {
  color: var(--primaryColor);
  font-size: var(--smallFontSize);
  font-weight: 500;
  margin-top: 2rem;
}
.directory .secTitle .redText h3 {
  font-size: var(--h1FontSize);
}
.directory .grid {
  justify-content: center;
}
.directory .grid .searchField {
  margin-top: 2rem;
  gap: 1rem;
}
.directory .grid .searchField .inputField {
  background: var(--primaryColorLight);
  padding: 1rem;
  border-radius: var(--borderRadius);
  gap: 0.5rem;
}
.directory .grid .searchField .inputField input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
}
.directory .grid .searchField .inputField .icon {
  color: var(--blackColor);
}
.directory .grid .table-latitude table {
  border-collapse: collapse;
  margin: 0;
  width: 100%;
}
.directory .grid .table-latitude table thead {
  background: var(--primaryColorLight);
}
.directory .grid .table-latitude table thead th {
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  color: var(--blackColor);
}
.directory .grid .table-latitude table tbody tr {
  border-bottom: 1px solid #f1f1f1;
  color: var(--blackColor);
}
.directory .grid .table-latitude table tbody tr td {
  text-align: center;
  padding: 5px;
  border: 1px solid #f1f1f1;
}
.directory .grid .table-latitude table tbody tr td .icon {
  color: var(--primaryColor);
  font-size: var(--h2FontSize);
}

@media screen and (max-width: 880px) {
  .directory .grid .searchField {
    grid-template-columns: repeat(1, 1fr);
  }
  .directory .grid .searchField .inputField {
    width: 100%;
  }
  .directory .grid .table-latitude table {
    text-decoration: none;
    border: 3px solid var(--primaryColorLight);
  }
  .directory .grid .table-latitude table thead tr {
    display: none;
  }
  .directory .grid .table-latitude table tr {
    display: block;
  }
  .directory .grid .table-latitude table tr,
  .directory .grid .table-latitude table td {
    padding: 0.5em;
  }
  .directory .grid .table-latitude table tbody tr {
    border-bottom: 3px solid var(--primaryColorLight);
  }
  .directory .grid .table-latitude table tbody tr td {
    display: block;
    text-align: right;
    font-size: 1em;
  }
  .directory .grid .table-latitude table tbody td::before {
    content: attr(title) ": ";
    float: left;
    font-weight: 700;
  }
}
@media screen and (min-width: 520px) {
  .directory .grid .searchField {
    grid-template-columns: repeat(1, 1fr);
  }
  .directory .grid .searchField .inputField {
    width: 100%;
  }
}
@media screen and (min-width: 640px) {
  .directory .grid .searchField {
    grid-template-columns: repeat(1, 1fr);
  }
  .directory .grid .searchField .inputField {
    width: 100%;
  }
}
@media screen and (min-width: 880px) {
  .directory .grid .searchField {
    grid-template-columns: repeat(2, 1fr);
  }
  .directory .grid .searchField .inputField {
    width: 100%;
  }
}
@media screen and (min-width: 1014px) {
  .directory .grid .searchField {
    grid-template-columns: repeat(2, 1fr);
  }
  .directory .grid .searchField .inputField {
    width: 100%;
  }
}/*# sourceMappingURL=Directory.css.map */