.cardContainer {
    // margin-top: 1rem;
justify-items: center;

    .card {
        position: relative;
        overflow: hidden;
        border-radius: 1rem;
        box-shadow: 0 5px 14px rgba(0, 0, 0, 0.05),
            0 5px 5px rgba(0, 0, 0, 0.05);
        // background: var(--primaryColorLight);
        background: var(--whiteColor);
        width: 300px;
        height: 560px;

        .imgDiv {
            position: relative;
            width: 100%;
            height: 100%;
            img {
                box-shadow: 0 5px 14px rgba(0, 0, 0, 0.05),
                    0 5px 5px rgba(0, 0, 0, 0.05);
                width: 100%;
                border-radius: 1rem;
                object-fit: cover;
            }
        }

        .descInfo {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1rem .5rem;
            height: 45%;

            .text {
                gap: 0.5rem;
                text-align: center;

                .name {
                    display: block;
                    font-weight: 700;
                    color: var(--blackColor);
                    padding-bottom: 0.5rem;
                    font-size: var(--h3FontSize);
                }

                .description {
                    font-size: var(--normalFontSize);
                    margin: 0.5rem;
                }

                .products {
                    color: var(--blackColor);
                    padding: 1rem 0.6rem 1rem;

                    li {
                        list-style: disc !important;
                    }
                }

                .website {
                    background-color: var(--whiteColor);
                    font-size: var(--normalFontSize);
                    color: var(--blackColor);
                    font-weight: 500;
                    border-radius: 10px;
                    padding: 0.3rem;
                }
            }

            .redes {
                display: flex;
                justify-content: center;
                margin-top: 0.5rem;
                cursor: pointer;

                .icon {
                    font-size: 2rem;
                    margin: 0 1rem;
                }
                .facebook {
                    color: #0866ff;
                }
                .instagram {
                    color: #f901af;
                }
            }
        }
    }
}
@media screen and (max-width: 480px) {
    .cardContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 540px) {
    .cardContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (min-width: 720px) {
    .cardContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 920px) {
    .cardContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1014px) {
    .cardContainer {
        grid-template-columns: repeat(2, 1fr);
        // grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1400px) {
    .cardContainer {
        .card {
            grid-template-columns: repeat(2, 1fr);
            // grid-template-columns: repeat(4, 1fr);
        }
    }
}
