.Activities {
    position: relative;
    height: 100vh;
    width: 100%;
    top: 0;

    .sectionText {
        position: absolute;
        top: 35%;
        // bottom: 50%;
        padding: 0 1.3rem;

        h1 {
            font-size: var(--h1FontSize);
            font-weight: 900;
            color: var(--primaryColor);
        }

        h2 {
            color: var(--blackColor);
            padding: 1rem 0;
        }

        p {
            color: var(--whiteColor);
            padding: 1rem 0;
            font-weight: 400;
        }

        .icon {
            font-size: 40px;
            background: var(--primaryColor);
            border-radius: 50%;
            padding: 8px;
            margin: 0 1rem;
            color: var(--whiteColor);
            transition: all 0.3s ease;

            &:hover {
                background: var(--whiteColor);
                color: var(--primaryColor);
            }
        }
    }

    .popularPlaces {
        display: none;
    }
}

// media queries
@media screen and (max-width: 479px) {
    .Activities {
        .sectionText {
            padding: 0 1.5rem;
            justify-content: center;
            text-align: center;
            width: 100%;
            top: 250px;

            h1 {
                font-size: 3.5rem;
            }

            h2 {
                font-size: var(--h2FontSize);
            }

            p {
                padding: 1.5rem 0;
                font-size: var(--h3FontSize);
                max-width: 70%;
                margin: auto;
            }

            .icon {
                padding: 0.5rem;
            }
        }
    }
}

@media screen and (min-width: 480px) {
    .Activities {
        .sectionText {
            padding: 0 2rem;
            justify-content: center;
            text-align: center;
            width: 100%;

            h1 {
                // font-size: var(--biggestFontSize);
                font-size: 4rem;
                font-weight: 900;
            }

            p {
                padding: 1rem 0;
                font-size: var(--h2FontSize);
                max-width: 70%;
                margin: auto;
            }

            .icon {
                padding: 0.5rem;
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .Activities {
        .sectionText {
            h1 {
                font-size: 4rem;
                font-weight: 900;
                max-width: 70%;
                margin: auto;
            }

            p {
                padding: 1rem 0;
                font-size: var(--h2FontSize);
                max-width: 70%;
                margin: auto;
            }
        }
    }
}

@media screen and (min-width: 769px) and (orientation: portrait) {
    .Activities {
        height: 60vh;

        .videoBg {
            height: 100%;
        }
    }
}

@media screen and (min-width: 1040px) {
    .Activities {
        position: relative;

        .sectionText {
            h1 {
                font-weight: 900;
            }

            .icon {
                font-size: 35px;
                padding: 10px;
            }
        }

        .popularPlaces {
            display: block;
            position: absolute;
            bottom: 6%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .content {
                h3 {
                    color: var(--blackColor);
                    padding: 3rem 0;
                    position: relative;
                    &::after {
                        content: "";
                        width: 74%;
                        height: 2px;
                        background: rgb(0, 0, 0);
                        right: 0;
                        bottom: 50%;
                        position: absolute;
                    }
                }

                .images {
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;

                    img {
                        height: 100px;
                        width: 210px;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}
