.Home {
    position: relative;
    width: 100%;
    height: 100dvh;
    // height: 680px;
    top: 0;
    background-image: url(../../assets/destop-background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .sectionText {
        position: absolute;
        top: 20%;
        // padding: 0 1.3rem;
        text-align: center;

        h1 {
            color: var(--primaryColor);
        }

        h2 {
            color: var(--blackColor);
            padding: 1rem 0;
        }

        p {
            color: var(--blackColor);
            padding: 1rem 0;
            font-weight: 400;
        }

        .redes {
            display: flex;
            justify-content: center;

            .icon {
                display: flex;
                // background: var(--primaryColor);
                // border-radius: 10px;
                width: 60px;
                margin: 1rem;
                color: var(--whiteColor);
                transition: all 0.3s ease;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
            }
        }
    }

    .popularPlaces {
        display: none;
    }
}

// media queries
@media screen and (max-width: 700px) {
    .Home {
        background-image: url(../../assets/mobile-background.webp);
        height: 100dvh;
        background-size: contain;

        .sectionText {
            padding: 0 2rem;
            justify-content: center;
            text-align: center;
            width: 100%;
            top: 15%;

            h1 {
                font-size: 3rem;
                font-weight: 800;
            }

            h2 {
                font-size: var(--h2FontSize);
            }

            .redes {
                display: flex;
                flex-direction: row;
                align-items: center;
                // margin: 0.1rem 0.1rem;
                .icon {
                    width: 40px;
                }
            }
        }
    }
}

// @media screen and (min-width: 480px) {
//     .Home {
//         .sectionText {
//             padding: 0 2rem;
//             justify-content: center;
//             // text-align: center;
//             width: 100%;

//             h1 {
//                 font-size: 3rem;
//             }

//             h2 {
//                 font-size: var(--h2FontSize);
//             }

//             .redes {
//                 display: flex;
//                 flex-direction: row;
//                 align-items: center;
//                 margin: 0.1rem 0.1rem;
//                 .icon {
//                     // padding: 0.4rem;
//                     width: 50px;
//                 }
//             }
//         }
//     }
// }

@media screen and (min-width: 769px) {
    .Home {
        .sectionText {
            h1 {
                font-size: 5rem;
                font-weight: 900;
                max-width: 70%;
                margin: auto;
            }
            h2 {
                font-size: 1.8rem;
            }

            p {
                padding: 1rem 0;
                font-size: 1.5rem;
                max-width: 70%;
                margin: auto;
            }

            .redes {
                // display: flex;
                flex-direction: row;
            }
        }
    }
}

@media screen and (min-width: 1040px) {
    .Home {
        position: relative;

        .sectionText {
            left: 30%;

            h1 {
                // font-weight: 700;
            }

            .icon {
                // font-size: 35px;
                padding: 10px;
            }
        }

        .popularPlaces {
            display: block;
            position: absolute;
            bottom: 10%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .content {
                h3 {
                    color: var(--blackColor);
                    padding: 3rem 0;
                    position: relative;
                    &::after {
                        content: "";
                        width: 90%;
                        height: 2px;
                        background: rgb(0, 0, 0);
                        right: 0;
                        bottom: 50%;
                        position: absolute;
                    }
                }

                .images {
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;

                    img {
                        height: 100px;
                        width: 200px;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}
