.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    padding: 1.5rem 2rem;
    position: fixed;
    border-bottom: 1.5px solid rgb(212, 211, 211);
    background: var(--whiteColor);
    z-index: 1000;

    .logoDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 50px;

        img {
            width: 90px;
            height: 50px;
        }

        span {
            color: var(--blackColor);
            font-size: var(--h3FontSize);
            justify-content: center;
        }
    }

    .navLink {
        color: var(--blackColor);
        font-weight: 500;
        padding: 1rem;
        cursor: pointer;
        &:hover {
            color: var(--primaryColor);
            border-bottom: 1.5px solid var(--primaryColor);
        }
    }

    a {
        .signUpBtn {
            background: var(--primaryColorLight);
            color: var(--blackColor);
            font-weight: 500;

            &:hover {
                background: var(--primaryColor);
            }
        }
    }

    @media screen and (max-width: 767px) {
        .menu {
            position: absolute;
            width: 70%;
            top: -100rem;
            right: 50%;
            left: 50%;
            transform: translate(-50%);
            background: rgba(255, 255, 255, 255);
            padding: .5rem;
            border-radius: 10px;
            transition: 0.8s ease-in-out;
            // box-shadow: 0 2px 3px 4px rgba(236, 213, 213, 0.516);
            // box-shadow: 0 3px 5px 6px rgba(236, 213, 213, 0.516);
            box-shadow: 0 3px 5px 6px rgba(240, 112, 202, 0.516);

            li {
                font-size: var(--h3FontSize);
                font-weight: 500;
                padding: 1rem 0;
                text-align: center;
                cursor: pointer;
                &:hover {
                    color: var(--primaryColor);
                    border-bottom: 1.5px solid var(--primaryColor);
                }
            }
            .navLink {
                display: flex;
                color: var(--blackColor);
                font-size: var(--h2FontSize);
                font-weight: 500;
                padding: 2rem;
                justify-content: center;
                cursor: pointer;
                &:hover {
                    color: var(--primaryColor);
                    border-bottom: 1.5px solid var(--primaryColor);
                }
            }
        }
    }

    .menuIcon,
    .closeIcon {
        font-size: 2.5rem;
        color: var(--primaryColor);

        &:hover {
            color: var(--primaryColorLight);
        }
    }
    .closeIcon {
        position: absolute;
        bottom: -15px;
        right: 50%;
        left: 50%;
        color: var(--primaryColor);
        transform: translate(-50%);
    }
    .showNavbar {
        top: 8rem;
    }
}

// Media queries
@media screen and (min-width: 768px) {
    .navBar {
        .logoDiv {
            span {
                font-size: var(--h2FontSize);
            }
            img {
                height: 50px;
            }
        }

        .closeIcon,
        .menuIcon {
            display: none;
        }

        .menu {
            ul {
                display: flex;
                gap: 1rem;

                li {
                    font-size: var(--h3FontSize);
                    font-weight: 500;
                    padding: 1rem 0;
                    text-align: center;
                    cursor: pointer;

                    &:hover {
                        color: var(--primaryColor);
                        border-bottom: 1px solid var(--primaryColor);
                        transition: all 0.2s;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1240px) {
    .navBar {
        padding: 2rem 6rem;

        .menu {
            ul {
                gap: 4rem;
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    .navBar {
        padding: 2rem 14rem;
    }
}
